name: CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
# ------------------------
# JOB 1: BUILD & TEST
# ------------------------
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - run: mvn clean verify

      - uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar

# ------------------------
# JOB 2: DOCKER BUILD & PUSH
# ------------------------
  docker:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: target

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker image
        run: |
          docker build -t backstage2k26/cicd-setup:${{ github.sha }} .
          docker tag backstage2k26/cicd-setup:${{ github.sha }} backstage2k26/cicd-setup:latest
          docker push backstage2k26/cicd-setup:${{ github.sha }}
          docker push backstage2k26/cicd-setup:latest
